h1 {
    color: #27aedb;
    text-align: center;
}

.Games{
    display: flex;
    height: 600px;
}

.Footer{
    display: flex;
    justify-content: center;

    .AnswerBtn{
        font-size: 24px;
        font-weight: 600;
        color:white;
        text-shadow: 1px 1px 2px black, 0 0 1em grey;
        background-color: rgb(99, 212, 99);
        height: 50px;
        width: 150px;
    }
}