h1 {
    color: #27aedb;
    text-align: center;
}

.games-wrapper{
    display: flex;
    height: 600px;
}

.error-modal{
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;

    .error-window{
        height: 100px;
        width: 150px;
        background-color: #fff;
        border: 5px solid grey;
        text-align: center;
        padding-top: 20px;

        span{
            font-size: 18px;
            font-weight: 600;
            color: red;
        }
    }
}

.footer{
    display: flex;
    justify-content: center;

    .answer-btn{
        font-size: 24px;
        font-weight: 600;
        color:white;
        text-shadow: 1px 1px 2px black, 0 0 1em grey;
        background-color: rgb(99, 212, 99);
        height: 50px;
        width: 150px;
    }
}