.game1-wrapper, .game2-wrapper, .game3-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  margin: auto;

  .header{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
  }
}

.game1-wrapper{
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;

    .planet, .icons{
      .icon{
        width: 100px;
        height: 100px;
        margin: 5px;
        background-color: white;
        border: 5px solid grey;
        border-radius: 50%;
        background-position: center;
        background-size: contain;

        &.bird{
          background-image: url(../assets/imgs/Game1/bird.png);
        }
        &.animal{
          background-image: url(../assets/imgs/Game1/animal.png);
        }
        &.fish{
          background-image: url(../assets/imgs/Game1/fish.png);
        }
        &.human{
          background-image: url(../assets/imgs/Game1/human.png);
        }
        &.ufo{
          background-image: url(../assets/imgs/Game1/ufo.png);
        }
        &.dino{
          background-image: url(../assets/imgs/Game1/dino.png);
        }
      }
    }

    .planet{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 85px;
      align-items: center;
      justify-content: center;
      width: 400px;
      height: 400px;
      background-color: rgb(73, 152, 255);
      background-image: url(../assets/imgs/Game1/earth.png);
      background-position: center;
      background-size: contain;
      border: 5px solid rgb(143, 169, 255);
      border-radius: 50%;

      .icon{

        &.correct{
          border-color: chartreuse;
        }

        &.wrong{
          border-color: crimson;
        }
      }
    }

    .icons{
      display: flex;
      flex-direction: row;
    }
  }
}

.game2-wrapper{

  padding-top: 20px;

  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .checkbox-group{
      display: flex;
      width: 500px;
      height: 58px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
      margin-top: 15px;

      &.correct{
        .input-background{
          background-color: chartreuse;
        }
      }

      &.wrong{
        .input-background{
          background-color: crimson;
        }
      }

      input:checked+label .input-background span{
          background-color: green;
      }

      label{
        cursor: pointer;
        border-right: 1px solid #ccc;
        padding: 5px;
        
        .input-background{
          display: flex;
          widows: 48px;
          height: 48px;
          border-radius: 5px;
          border: 1px solid #ccc;
          background-color: #e6e6e6;
          padding: 5px;
          
          span{
            display: block;
            width: 32px;
            height: 32px;
            margin: auto;
            border-radius: 5px;
            background-color: #848484;
            cursor: pointer;
          }
        }
      }

      .text-middle{
        width: 100%;
        padding-top: 18px;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}

.game3-wrapper{

  padding-top: 20px;

  .main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;

    .planet{
      width: 320px;
      height: 320px;
      background-image: url(../assets/imgs/Game3/planetLayers.png);
      background-size: cover;
    }

    .layers{
      width: 200px;

      .layer{
        display: flex;
        width: 200px;
        height: 35px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
        margin-bottom: 15px;
        align-items: center;

        &.correct{
          background-color: chartreuse;
        }
  
        &.wrong{
          background-color: crimson;
        }

        .index{
          margin: 0 10px 0 10px;
        }

        span{
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
}
